/*******************************/
/********* General CSS *********/
/*******************************/
* {
  margin: 0;
  padding: 0;
}
body {
  color: #797979;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343148;
}

a {
  color: #454545;
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  color: #f7cac9;
  outline: none;
  text-decoration: none;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.container-fluid {
  max-width: 1366px;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #f7cac9;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 9;
}

.back-to-top:hover {
  background: #343148;
}

.back-to-top:hover i {
  color: #f7cac9;
}

.back-to-top i {
  color: #343148;
  padding-top: 10px;
}

/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
/**********************/
/*     Navigation     */
/**********************/

.wrapper {
  position: fixed;
  top: 0;
  z-index: 3;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 250px;

  background: #f7cac9;
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper {
  /*left: 0;*/
  right: 0;
}
.menu-btn {
  position: fixed;
  z-index: 4;
  right: 20px;
  /*left: 20px; */
  top: 20px;
  height: 40px;
  width: 50px;
  padding: 5px 5px;
  background: #ef9593;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #000;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before {
  transform: translateY(-8px);
}
.menu-btn:after {
  transform: translateY(8px);
}

.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.6s;
}

/* closing animation */
#active:checked + .menu-btn span {
  transform: scaleX(0);
}
#active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul {
  position: absolute;
  top: 60%;
  left: 15%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li {
  height: 10%;
  margin: 15px;
}
.wrapper ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  width: 400px;
  padding: 15px 5px;
  border-radius: 50px;
  position: absolute;
  line-height: 20px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li a:hover {
  color: #1a73e8;
}
input[type="checkbox"] {
  display: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a {
  opacity: 1;
}
.wrapper ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1); /* easeOutBackを緩めた感じ */
  transition-delay: 0.6s;
  transform: translateX(-100px);
}

/*******************************/
/********** Hero CSS ***********/
/*******************************/
#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(39, 37, 34, 0.8);
  overflow: hidden;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero h2 span {
  color: #ef9593;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
  opacity: 1;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 36px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-menu,
#hero .btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 0 10px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  color: #fff;
  border: 2px solid #ef9593;
}

#hero .btn-menu:hover,
#hero .btn-book:hover {
  background: #f97d7a;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }
  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: #ffb03b;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f2f1ef;
  min-height: 40px;
  margin-top: 120px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 70px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*******************************/
/********** About CSS **********/
/*******************************/
.about {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.about .section-header {
  margin-bottom: 30px;
  margin-left: 0;
}

.about .about-img {
  position: relative;
  height: 100%;
}

.about .about-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .about-text p {
  font-size: 16px;
}

.about .about-text a.btn {
  position: relative;
  margin-top: 15px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f7cac9;
  background: #343148;
  border-radius: 0;
  transition: 0.3s;
}

.about .about-text a.btn:hover {
  color: #343148;
  background: #f7cac9;
}

@media (max-width: 767.98px) {
  .about .about-img {
    margin-bottom: 30px;
    height: auto;
  }
}
/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.service .service-item {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  transition: 0.3s;
}

.service .service-item:hover,
.service .service-item.active {
  background: #343148;
  color: #ffffff;
}

.service .service-icon {
  position: relative;
  margin: 0 auto 25px auto;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.service .service-icon i {
  position: relative;
  font-size: 50px;
  color: #343148;
  z-index: 3;
}

.service .service-icon:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #f7cac9;
  border-radius: 50%;
  animation: pulse-border 2000ms ease-out infinite;
}

.service .service-icon:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #f7cac9;
  border-radius: 50%;
  transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    opacity: 0;
  }
}

.service .service-item h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.service .service-item:hover h3,
.service .service-item.active h3 {
  color: #f7cac9;
}

.service .service-item p {
  margin: 0;
  font-size: 16px;
}

/*******************************/
/********** Class CSS **********/
/*******************************/
.class {
  position: relative;
  padding: 45px 0 15px 0;
}

.class #class-filter {
  padding: 0;
  margin: -15px 0 25px 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.class #class-filter li {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  color: #343148;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
  background: none;
  border: 1px solid #343148;
  transition: 0.3s;
}

.class #class-filter li:hover,
.class #class-filter li.filter-active {
  background: #343148;
  color: #f7cac9;
}

.class .class-item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  transition: 0.3s;
}

.class .class-wrap {
  position: relative;
  width: 100%;
}

.class .class-img {
  position: relative;
}

.class .class-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.class .class-text {
  position: relative;
  padding: 30px 30px 25px 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.class .class-text h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.class .class-teacher {
  position: relative;
  height: 40px;
  margin-top: -50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

.class .class-teacher img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #f7cac9;
}

.class .class-teacher h3 {
  width: calc(100% - 95px);
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 15px;
  white-space: nowrap;
  overflow: hidden;
}

.class .class-teacher a {
  width: 40px;
  height: 40px;
  padding: 0 0 3px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 100;
  color: #343148;
  background: #f7cac9;
  border-radius: 40px;
  transition: 0.3s;
}

.class .class-wrap:hover .class-teacher a {
  color: #f7cac9;
  background: #343148;
}

.class .class-meta {
  position: relative;
  display: flex;
  align-items: center;
}

.class .class-meta p {
  margin: 0;
  font-size: 14px;
}

.class .class-meta p i {
  margin-right: 5px;
  color: #343148;
}

.class .class-meta p:first-child {
  margin-right: 10px;
}

/*******************************/
/********* Pricing CSS *********/
/*******************************/
.discount {
  position: relative;
  width: 100%;
  margin: 45px 0;
  padding: 90px 0;
  background: linear-gradient(
      rgba(247, 202, 201, 0.7),
      rgba(247, 202, 201, 0.7)
    ),
    url(../image/about.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.discount .container {
  max-width: 750px;
  text-align: center;
}

.discount .section-header {
  margin-bottom: 20px;
}

.discount .section-header p {
  color: #343148;
  background: transparent;
}

.discount .section-header p::after {
  display: none;
}

.discount .section-header h2 span {
  color: #f32b56;
  font-size: 50px;
}

.discount .discount-text p {
  color: #454545;
}

.discount .discount-text .btn {
  margin-top: 10px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f7cac9;
  background: #343148;
  border-radius: 0;
  transition: 0.3s;
}

.discount .discount-text .btn:hover {
  color: #343148;
  background: #ffffff;
}

/*******************************/
/********* Pricing CSS *********/
/*******************************/
.price {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.price .price-item {
  position: relative;
  margin-bottom: 30px;
}
.price .price-item img {
  width: 400px;
  height: 300px;
  margin-left: -40px;
}
.price .price-header,
.price .price-body,
.price .price-footer {
  position: relative;
  width: 100%;
  text-align: center;
  background: #ffffff;
  overflow: hidden;
}

.price .price-header {
  padding: 30px;
  color: #343148;
}

.price .price-item.featured-item .price-header {
  background: #343148;
  color: #f7cac9;
}

.price .price-status {
  margin-top: -30px;
  text-align: right;
}

.price .price-status span {
  position: relative;
  display: inline-block;
  height: 30px;
  right: -30px;
  padding: 7px 10px;
  text-align: center;
  color: #343148;
  font-size: 14px;
  line-height: 14px;
  background: #f7cac9;
}

.price .price-title h2 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.price .price-prices h2 {
  font-size: 45px;
  font-weight: 700;
  margin-left: 10px;
}

.price .price-prices h2 small {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  margin-top: 9px;
  margin-left: -12px;
}

.price .price-prices h2 span {
  margin-left: 1px;
  font-size: 18px;
  font-weight: 400;
}

.price .price-item.featured-item h2 {
  color: #f7cac9;
}

.price .price-body {
  padding: 25px 0 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: none;
}

.price .price-description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.price .price-description ul li {
  padding: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.price .price-description ul li:last-child {
  border: none;
}

.price .price-action {
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-top: none;
}

.price .price-action a.btn {
  margin-bottom: 30px;
  padding: 12px 20px;
  color: #343148;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0;
  background: #f7cac9;
  transition: 0.3s;
}

.price .price-action a:hover,
.price .price-item.featured-item .price-action a {
  color: #f7cac9;
  background: #343148;
}

.price .price-item.featured-item .price-action a:hover {
  color: #343148;
  background: #f7cac9;
}

/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.team .team-item {
  position: relative;
  margin-bottom: 30px;
  padding: 15px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.team .team-img {
  position: relative;
  overflow: hidden;
}

.team .team-img img {
  position: relative;
  width: 100%;
}

.team .team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.team .team-social a {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  font-size: 16px;
  color: #f7cac9;
  background: #343148;
  opacity: 0;
}

.team .team-social a:hover {
  color: #343148;
  background: #f7cac9;
}

.team .team-item:hover .team-social {
  background: rgba(256, 256, 256, 0.5);
}

.team .team-item:hover .team-social a:first-child {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0s;
}

.team .team-item:hover .team-social a:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.1s;
}

.team .team-item:hover .team-social a:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.2s;
}

.team .team-item:hover .team-social a:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.3s;
}

.team .team-text {
  position: relative;
  padding: 25px 15px 10px 15px;
  text-align: center;
  background: #ffffff;
}

.team .team-text h2 {
  font-size: 18px;
  font-weight: 600;
}

.team .team-text p {
  margin: 0;
}

/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
  position: relative;
  padding: 45px 0;
}

.testimonial .container {
  padding: 0;
}

.testimonial .testimonial-item {
  position: relative;
  margin: 0 15px;
  text-align: center;
}

.testimonial .testimonial-img {
  position: relative;
  margin-bottom: 15px;
  z-index: 1;
}
.testimonial .testimonial-item img {
  margin: 0 auto;
  width: 300px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background: #ffffff;
  transition: 0.5s;
}

.testimonial .testimonial-text {
  position: relative;
  margin-top: -70px;
  padding: 75px 25px 25px 25px;
  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.testimonial .testimonial-item p {
  font-size: 16px;
  color: #666666;
}

.testimonial .testimonial-text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.testimonial .testimonial-text h4 {
  color: #666666;
  font-size: 14px;
  margin-bottom: 0;
}

.testimonial .owl-item.center img {
  border-color: transparent;
}

.testimonial .owl-item.center .testimonial-text {
  background: #343148;
}

.testimonial .owl-item.center .testimonial-text h3 {
  color: #f7cac9;
}

.testimonial .owl-item.center .testimonial-text p,
.testimonial .owl-item.center .testimonial-text h4 {
  color: #ffffff;
}

.testimonial .owl-dots {
  margin-top: 15px;
  text-align: center;
}

.testimonial .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f7cac9;
}

.testimonial .owl-dot.active {
  background: #343148;
}

/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.blog .blog-carousel {
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  right: -15px;
}

.blog .blog-item {
  position: relative;
  margin: 0 15px;
}

.blog .blog-page .blog-item {
  margin: 0 0 30px 0;
}

.blog .blog-img {
  position: relative;
  width: 100%;
}

.blog .blog-img img {
  width: 100%;
}

.blog .blog-text {
  position: relative;
  padding: 25px 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.blog .blog-text h2 {
  font-size: 22px;
  font-weight: 600;
}

.blog .blog-text p {
  margin-bottom: 10px;
}

.blog .blog-item a.btn {
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #343148;
  transition: 0.3s;
}

.blog .blog-item a.btn i {
  margin-left: 5px;
}

.blog .blog-item a.btn:hover {
  color: #f7cac9;
}

.blog .blog-meta {
  position: relative;
  display: flex;
  margin-bottom: 15px;
}

.blog .blog-meta p {
  margin: 0 10px 0 0;
  font-size: 13px;
}

.blog .blog-meta i {
  margin-right: 5px;
}

.blog .blog-meta p:last-child {
  margin: 0;
}

.blog .owl-nav {
  width: 150px;
  margin: 32px auto 0 auto;
  display: flex;
}

.blog .owl-nav .owl-prev,
.blog .owl-nav .owl-next {
  margin-left: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7cac9;
  background: #343148;
  font-size: 22px;
  transition: 0.3s;
}

.blog .owl-nav .owl-prev:hover,
.blog .owl-nav .owl-next:hover {
  color: #343148;
  background: #f7cac9;
}

.blog .pagination .page-link {
  color: #343148;
  border-radius: 0;
  border-color: #343148;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
  color: #f7cac9;
  background: #343148;
}

.blog .pagination .disabled .page-link {
  color: #999999;
}

/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio {
  position: relative;
  padding: 45px 0 15px 0;
}

.portfolio #portfolio-filter {
  padding: 0;
  margin: -15px 0 25px 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.portfolio #portfolio-filter li {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  color: #343148;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
  background: none;
  border: 1px solid #343148;
  transition: 0.3s;
}

.portfolio #portfolio-filter li:hover,
.portfolio #portfolio-filter li.filter-active {
  background: #343148;
  color: #f7cac9;
}

.portfolio .portfolio-item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  transition: 0.3s;
}

.portfolio .portfolio-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.portfolio img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.portfolio .portfolio-wrap:hover img {
  transform: rotate(5deg) scale(1.12);
}

/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.contact .container {
  max-width: 900px;
}

.contact .contact-item {
  text-align: center;
  margin-bottom: 30px;
}

.contact .contact-item i {
  width: 50px;
  height: 50px;
  padding: 12px 0;
  font-size: 25px;
  color: #343148;
  margin-bottom: 15px;
  border: 1px solid #f7cac9;
  border-radius: 50px;
}

.contact .contact-item h2 {
  font-size: 25px;
  font-weight: 700;
}

.contact .contact-form {
  position: relative;
}

.contact .contact-form input {
  height: 45px;
  padding: 15px;
  background: none;
  border-radius: 0;
}

.contact .contact-form textarea {
  height: 150px;
  padding: 15px;
  background: none;
  border-radius: 0;
}

.contact .contact-form .btn {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f7cac9;
  background: #343148;
  border-radius: 0;
  transition: 0.3s;
}

.contact .contact-form .btn:hover {
  color: #343148;
  background: #f7cac9;
}

.contact .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*******************************/
/******* Single Post CSS *******/
/*******************************/
.single {
  position: relative;
  padding: 45px 0;
}

.single .single-content {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.single .single-content img {
  margin-bottom: 20px;
  width: 100%;
}

.single .single-tags {
  margin: -5px -5px 41px -5px;
  font-size: 0;
}

.single .single-tags a {
  margin: 5px;
  display: inline-block;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  border: 1px solid #dddddd;
}

.single .single-tags a:hover {
  color: #f7cac9;
  background: #343148;
}

.single .single-bio {
  margin-bottom: 45px;
  padding: 30px;
  background: #f3f6ff;
  display: flex;
}

.single .single-bio-img {
  width: 100%;
  max-width: 100px;
}

.single .single-bio-img img {
  width: 100%;
}

.single .single-bio-text {
  padding-left: 30px;
}

.single .single-bio-text h3 {
  font-size: 20px;
  font-weight: 700;
}

.single .single-bio-text p {
  margin: 0;
}

.single .single-related {
  margin-bottom: 45px;
}

.single .single-related h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.single .related-slider {
  position: relative;
  margin: 0 -15px;
  width: calc(100% + 30px);
}

.single .related-slider .post-item {
  margin: 0 15px;
}

.single .post-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.single .post-item .post-img {
  width: 100%;
  max-width: 80px;
}

.single .post-item .post-img img {
  width: 100%;
}

.single .post-item .post-text {
  padding-left: 15px;
}

.single .post-item .post-text a {
  font-size: 16px;
  font-weight: 400;
}

.single .post-item .post-meta {
  display: flex;
  margin-top: 8px;
}

.single .post-item .post-meta p {
  display: inline-block;
  margin: 0;
  padding: 0 3px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.single .post-item .post-meta p a {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.single .related-slider .owl-nav {
  position: absolute;
  width: 90px;
  top: -55px;
  right: 15px;
  display: flex;
}

.single .related-slider .owl-nav .owl-prev,
.single .related-slider .owl-nav .owl-next {
  margin-left: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #343148;
  background: #f7cac9;
  font-size: 16px;
  transition: 0.3s;
}

.single .related-slider .owl-nav .owl-prev:hover,
.single .related-slider .owl-nav .owl-next:hover {
  color: #f7cac9;
  background: #343148;
}

.single .single-comment {
  position: relative;
  margin-bottom: 45px;
}

.single .single-comment h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.single .comment-list {
  list-style: none;
  padding: 0;
}

.single .comment-child {
  list-style: none;
}

.single .comment-body {
  display: flex;
  margin-bottom: 30px;
}

.single .comment-img {
  width: 60px;
}

.single .comment-img img {
  width: 100%;
}

.single .comment-text {
  padding-left: 15px;
  width: calc(100% - 60px);
}

.single .comment-text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.single .comment-text span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
}

.single .comment-text .btn {
  padding: 3px 10px;
  font-size: 14px;
  color: #343148;
  background: #dddddd;
  border-radius: 0;
}

.single .comment-text .btn:hover {
  background: #f7cac9;
}

.single .comment-form {
  position: relative;
}

.single .comment-form h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.single .comment-form form {
  padding: 30px;
  background: #f3f6ff;
}

.single .comment-form form .form-group:last-child {
  margin: 0;
}

.single .comment-form input,
.single .comment-form textarea {
  border-radius: 0;
}

.single .comment-form .btn {
  padding: 15px 30px;
  color: #f7cac9;
  background: #343148;
}

.single .comment-form .btn:hover {
  color: #343148;
  background: #f7cac9;
}

/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
  position: relative;
  width: 100%;
}

@media (max-width: 991.98px) {
  .sidebar {
    margin-top: 45px;
  }
}

.sidebar .sidebar-widget {
  position: relative;
  margin-bottom: 45px;
}

.sidebar .sidebar-widget .widget-title {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
}

.sidebar .sidebar-widget .widget-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #f7cac9;
}

.sidebar .sidebar-widget .search-widget {
  position: relative;
}

.sidebar .search-widget input {
  height: 50px;
  border: 1px solid #dddddd;
  border-radius: 0;
}

.sidebar .search-widget input:focus {
  box-shadow: none;
}

.sidebar .search-widget .btn {
  position: absolute;
  top: 6px;
  right: 15px;
  height: 40px;
  padding: 0;
  font-size: 25px;
  color: #f7cac9;
  background: none;
  border-radius: 0;
  border: none;
  transition: 0.3s;
}

.sidebar .search-widget .btn:hover {
  color: #343148;
}

.sidebar .sidebar-widget .recent-post {
  position: relative;
}

.sidebar .sidebar-widget .tab-post {
  position: relative;
}

.sidebar .tab-post .nav.nav-pills .nav-link {
  color: #f7cac9;
  background: #343148;
  border-radius: 0;
}

.sidebar .tab-post .nav.nav-pills .nav-link:hover,
.sidebar .tab-post .nav.nav-pills .nav-link.active {
  color: #343148;
  background: #f7cac9;
}

.sidebar .tab-post .tab-content {
  padding: 15px 0 0 0;
  background: transparent;
}

.sidebar .tab-post .tab-content .container {
  padding: 0;
}

.sidebar .sidebar-widget .category-widget {
  position: relative;
}

.sidebar .category-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar .category-widget ul li {
  margin: 0 0 12px 22px;
}

.sidebar .category-widget ul li:last-child {
  margin-bottom: 0;
}

.sidebar .category-widget ul li a {
  display: inline-block;
  line-height: 23px;
}

.sidebar .category-widget ul li::before {
  position: absolute;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f7cac9;
  left: 1px;
}

.sidebar .category-widget ul li span {
  display: inline-block;
}

.sidebar .sidebar-widget .tag-widget {
  position: relative;
  margin: -5px -5px;
}

.single .tag-widget a {
  margin: 5px;
  display: inline-block;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  border: 1px solid #dddddd;
}

.single .tag-widget a:hover {
  color: #f7cac9;
  background: #343148;
}

.sidebar .image-widget {
  display: block;
  width: 100%;
  overflow: hidden;
}

.sidebar .image-widget img {
  max-width: 100%;
  transition: 0.3s;
}

.sidebar .image-widget img:hover {
  transform: scale(1.1);
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
#footer {
  background: #111111;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #1d1d1d;
  border-bottom: 1px solid #2f2f2f;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: white;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2a2a2a;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f7cac9;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f7cac9;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #f7cac9;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #f7cac9;
  color: black;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #f7cac9;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media (max-width: 767.98px) {
  .footer .copyright p,
  .footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
  }
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("image/about.png");
  background-size: cover;
  background-position: center center;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff6300;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}
